region  = "us-east-1"

vpc_id  = "vpc-id"
subnet_ids = [
  "subnet-id"
]

state_bucket     = ""
state_lock_table = ""

github_token           = ""
aws_access_key_id      = ""
aws_secret_access_key  = ""
